[submodule "zsh/packages/zsh-syntax-highlighting"]
	path = zsh/packages/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/packages/pure"]
	path = zsh/packages/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "tmux/plugins"]
	path = tmux/plugins
	url = https://github.com/tmux-plugins/tpm
